.search {
  max-width: 1250px;
  padding: 50px 180px 30px;
}

.search__title {
  @include h2;
  margin-bottom: 15px;
}

.search__form {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.search__input {
  @include text;
  width: 50%;
  padding: 5px 10px;
  border: 1px solid $blue;
  border-radius: 10px;

  &::placeholder {
    @include placeholder;
  }
}

.search__search-button {
  @include button;
}